# Google Sheets / Apps Script
GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/THAY_BANG_URL_CUA_BAN/exec
GOOGLE_SHEETS_WEBHOOK_SECRET=thay-bang-chuoi-bi-mat-dai-va-ngau-nhien

# Resend
RESEND_API_KEY=re_thay_bang_api_key_cua_ban
RESEND_FROM_EMAIL=AIWA by DHSystem <hello@tenmiencuaban.vn>
